<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <img th:src="@{${imageDir}}" />

    <form action="/action_page.php">
        <label for="todo">TODO</label>
        <input type="text" id="todo" name="todo" maxlength="140">
        <input type="submit" value="create TODO">
    </form>

    <tr th:each="x : ${mylist}">
        <li th:text="${x}"/>
    </tr>

</body>
</html>
